/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region COMMON and Utilities */
body{
    font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
}

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: calc(100% / 12 * 9);
    margin: auto;
}

ul{
    list-style: none;
}
/* #endregion COMMON and Utilities */

/* #region HEADER */
#app-header{
    background-color: #fe6800;
/*     position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    padding: 1.5rem;
    color: white;
}

#app-header > div.container{
    justify-content: space-between;
    align-items: center;
}

#category li{
    font-weight: bold;
    padding: 0 0.25rem;
    display: inline-block;
}

#category li>a{
    color: white;
}

#logo >img{
    max-height: 25px;
}

#menu{
    color: white;
}

#menu >i{
    padding: 0 0.25rem;
}
/* #endregion HEADER */

/* #region MAIN */
.row{
    justify-content: space-between;
}

.card{
    width: calc(100% / 12 * 4 - 12px);
    margin-top: 3rem; 
}

.model >img{
    max-width: 100%;
}

.details .brand{
    font-size: 0.75rem;
}

.promo-price{
    color: red;
    font-weight: bold;
}

.full-price{
    text-decoration: line-through;
}
/* #endregion MAIN */
